
# HTID:17345218: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:17345218:
php_value short_open_tag 1
php_flag output_buffering on
 #Header Set Access-Control-Allow-Origin *
Header add Access-Control-Allow-Origin: "*"
Header add Access-Control-Allow-Methods: "*"
Header add Access-Control-Allow-Headers: "*"

#AddType application/json json php
#php_value default_mimetype application/json


 
 RewriteEngine on
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME}\.php -f
 RewriteRule ^(.*)$ $1.php [NC,L]